@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Instrument Serif,serif;
}


::-webkit-scrollbar {
  width: 5px; 
}


::-webkit-scrollbar-thumb {
  @apply bg-gray-600 rounded-none
}


::-webkit-scrollbar-thumb:hover {
  background-color: white; 

} 

::-webkit-scrollbar-track {
  @apply bg-gray-900 rounded-none
}


::-webkit-scrollbar-corner {
  background-color: #2c2b2b;
}